<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.Common" version="3.0.594" targetFramework="net45" />
  <package id="MediaBrowser.Common.Internal" version="3.0.594" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="SimpleInjector" version="2.7.0" targetFramework="net45" />
</packages>