<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.ApiClient" version="3.0.0.314" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.410" targetFramework="net45" />
  <package id="MediaBrowser.Common.Internal" version="3.0.410" targetFramework="net45" />
  <package id="MediaBrowser.IsoMounting" version="3.0.65" targetFramework="net45" />
  <package id="morelinq" version="1.0.16006" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NLog" version="3.0.0.0" targetFramework="net45" />
  <package id="sharpcompress" version="0.10.2" targetFramework="net45" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.8" targetFramework="net45" />
</packages>