<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.ApiClient" version="3.0.0.237" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.221" targetFramework="net45" />
  <package id="MediaBrowser.Common.Internal" version="3.0.221" targetFramework="net45" />
  <package id="MediaBrowser.IsoMounting" version="3.0.61" targetFramework="net45" />
  <package id="morelinq" version="1.0.16006" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.59" targetFramework="net45" />
  <package id="sharpcompress" version="0.10.1.3" targetFramework="net45" />
  <package id="SimpleInjector" version="2.3.5" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.8" targetFramework="net45" />
</packages>