<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.ApiClient" version="3.0.0.588" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.597" targetFramework="net45" />
  <package id="MediaBrowser.Common.Internal" version="3.0.597" targetFramework="net45" />
  <package id="MediaBrowser.IsoMounting" version="3.0.69" targetFramework="net45" />
  <package id="morelinq" version="1.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="SimpleInjector" version="2.7.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.12" targetFramework="net45" />
</packages>