<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.ApiClient" version="3.0.0.44-beta" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.45" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.621" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.37" targetFramework="net45" />
</packages>