<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MediaBrowser.Common" version="3.0.680" targetFramework="net462" />
  <package id="MediaBrowser.Common.Internal" version="3.0.680" targetFramework="net462" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.1.0.0" targetFramework="net462" />
  <package id="NLog" version="4.3.8" targetFramework="net462" />
  <package id="Patterns.Logging" version="1.0.0.2" targetFramework="net45" />
  <package id="SimpleInjector" version="3.2.2" targetFramework="net462" />
  <package id="SocketHttpListener" version="1.0.0.40" targetFramework="net462" />
</packages>