<?xml version="1.0"?>
<ApplicationConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableDebugLevelLogging>false</EnableDebugLevelLogging>
  <EnableAutoUpdate>true</EnableAutoUpdate>
  <SystemUpdateLevel>Release</SystemUpdateLevel>
  <LogFileRetentionDays>3</LogFileRetentionDays>
  <RunAtStartup>false</RunAtStartup>
  <IsStartupWizardCompleted>false</IsStartupWizardCompleted>
  <ServerHostName>minoshiro</ServerHostName>
  <ServerApiPort>8096</ServerApiPort>
  <DownloadCompressedImages>false</DownloadCompressedImages>
  <ActiveThemeGuid>c501c937-3bc9-471a-a538-20faa9b7ce51</ActiveThemeGuid>
</ApplicationConfiguration>