<Configuration xmlns:yaxlib="http://www.sinairv.com/yaxlib/">
  <ConfigVersion>
    <Major>2</Major>
    <Minor>0</Minor>
  </ConfigVersion>
  <GeneralSettings>
    <RecentMediaFiles />
    <RecentPlaybackPositions />
    <OptionsDialogSelectedNodePath>Video Renderer\General</OptionsDialogSelectedNodePath>
    <PlayerStartupMode>Normal</PlayerStartupMode>
    <ShowPlayerStats>False</ShowPlayerStats>
    <ResumePlaybackPosition>False</ResumePlaybackPosition>
    <ShowMenuBar>False</ShowMenuBar>
    <ShowStatusBar>False</ShowStatusBar>
    <ShowCaptionBar>False</ShowCaptionBar>
    <AutoHideControlBar>True</AutoHideControlBar>
    <LockToAspectRatio>False</LockToAspectRatio>
    <SnapToScreenEdges>False</SnapToScreenEdges>
    <AlwaysOnTop>False</AlwaysOnTop>
    <LockWindowSize>False</LockWindowSize>
    <LastSelectedMediaFileName />
    <Volume>79</Volume>
    <Mute>False</Mute>
    <ResizeWindowToFitVideo>False</ResizeWindowToFitVideo>
    <ResetWindowSize>False</ResetWindowSize>
    <RememberWindowSizePos>True</RememberWindowSizePos>    
    <UseDebugDialog>False</UseDebugDialog>
    <SeekBarSizeInFullScreen>Medium</SeekBarSizeInFullScreen>
    <AlwaysOnTopMode>Always</AlwaysOnTopMode>
  </GeneralSettings>
  <DirectShowSettings>
    <AudioRenderer>79376820-07d0-11cf-a24d-0020afd79767</AudioRenderer>
    <AudioRendererDevicePath>@device:cm:{E0F158E1-CB04-11D0-BD4E-00A0C911CE86}\Default DirectSound Device</AudioRendererDevicePath>
    <ExtraAudioFilters />
    <ExtraVideoFilters />
    <LoadSubtitles>True</LoadSubtitles>
    <UseXySubFilter>True</UseXySubFilter>
    <ReduceXySubAliasing>False</ReduceXySubAliasing>
    <SubtitleChangeImmediate>False</SubtitleChangeImmediate>
  </DirectShowSettings>
  <VideoRendererSettings>
    <AdapterId>0</AdapterId>
    <FrameComposerType>Direct3D9Ex</FrameComposerType>
    <OutputLevels>Auto</OutputLevels>
    <OutputLimitedRange>False</OutputLimitedRange>
    <UseFullScreenExclusiveMode>True</UseFullScreenExclusiveMode>
    <UseFlipEx>True</UseFlipEx>
    <DebugDx11>False</DebugDx11>
    <OutputBitDepth>EightBits</OutputBitDepth>
    <UseCustomAspectRatio>False</UseCustomAspectRatio>
    <AspectRatioX>4</AspectRatioX>
    <AspectRatioY>3</AspectRatioY>
    <LetterBoxing>ApplyLetterBoxing</LetterBoxing>
    <DecoderQueueSize>16</DecoderQueueSize>
    <RenderQueueSize>12</RenderQueueSize>
    <WindowedBackBufferSize>12</WindowedBackBufferSize>
    <ExclusiveBackBufferSize>12</ExclusiveBackBufferSize>
    <FseReenterDelay>500</FseReenterDelay>
    <LumaUpscaler yaxlib:realtype="MediaPlayerDotNet.Config.LumaUpscalerSettings">
      <Scaler yaxlib:realtype="MediaPlayerDotNet.Config.Scaler.SoftcubicSettings">
        <Softness>0.75</Softness>
      </Scaler>
    </LumaUpscaler>
    <LumaDownscaler yaxlib:realtype="MediaPlayerDotNet.Config.LumaDownscalerSettings">
      <Scaler yaxlib:realtype="MediaPlayerDotNet.Config.Scaler.SoftcubicSettings">
        <Softness>0.75</Softness>
      </Scaler>
    </LumaDownscaler>
    <ChromaUpscaler yaxlib:realtype="MediaPlayerDotNet.Config.ChromaUpscalerSettings">
      <Scaler yaxlib:realtype="MediaPlayerDotNet.Config.Scaler.BicubicSettings">
        <Sharpness>0.75</Sharpness>
        <AntiRingingEnabled>False</AntiRingingEnabled>
      </Scaler>
    </ChromaUpscaler>
    <ChromaDownscaler yaxlib:realtype="MediaPlayerDotNet.Config.ChromaDownscalerSettings">
      <Scaler yaxlib:realtype="MediaPlayerDotNet.Config.Scaler.SoftcubicSettings">
        <Softness>0.75</Softness>
      </Scaler>
    </ChromaDownscaler>
    <Ditherer yaxlib:realtype="MediaPlayerDotNet.Config.DitheringSettings">
      <Ditherer yaxlib:realtype="MediaPlayerDotNet.Config.Ditherer.DitherRandomSettings">
        <Coloured>True</Coloured>
        <PerFrameDithering>True</PerFrameDithering>
        <Strength>2</Strength>
      </Ditherer>
    </Ditherer>
    <FluidMotionSettings>
      <Active>True</Active>
      <OnlyWhenRateLessThanHalfDisplay>True</OnlyWhenRateLessThanHalfDisplay>
      <ExceptMultiples>True</ExceptMultiples>
    </FluidMotionSettings>
    <RenderScript>
      <Guid>00000000-0000-0000-0000-000000000000</Guid>
    </RenderScript>
  </VideoRendererSettings>
</Configuration>